[general]
default_sensor = 0
show_notifications = False
gui = default

[brightness]
increment = 5
margin = 5
slope = 0.2
base_value = 0

[mqtt]
subscribe = False
publish = False
host = mqtt.example.com
topic = zendisplay/brightness
