[Unit]
Description=Zendisplay screen brightness manager
After=graphical-session.target

[Service]
ExecStart=/usr/bin/env python3 -u %h/bin/zendisplay/zendisplay.py
WorkingDirectory=%h/bin/zendisplay
Restart=on-failure
TimeoutStopSec=20
RestartSec=5
SyslogIdentifier=zendisplay

[Install]
WantedBy=default.target
